nav{
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 10px 100px;
    transition: ease-in-out 1s;
}

.logoArea{
    display: grid;
    place-items: center;
}

.logoArea img{
    width: 70px;
}

.navLinkArea{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 120px);
    place-items: center;
    justify-self: end;
    font-weight: 600;
    letter-spacing: -0.6px;
}

.navLinkArea a:hover{
    color: #ffc576;
}

.navLink{
    height: 100%;
    display: grid;
    place-items: center;
}

.navLink:hover{
    border-bottom: 1px solid #ffc576;
    transition: ease-in-out 1s;
}

.resumeLink{
    color: #ffc576;
    border: 1px solid #ffc576;
    padding: 10px 30px;
    transition: ease-in-out 0.2s;
}

.resumeLink:hover{
    background: #313552;
    transition: ease-in-out 0.1s;
}

#btn{
    display: none;
}