@media screen and (max-width: 1024px){
    nav{
        padding: 30px 50px;
    }

    .hero{
        padding: 100px 50px;
    }

    #about,
    #tools,
    #contact,
    #projects{
        grid-template-columns: 0.7fr 1fr;
        grid-gap: 10px;
        padding: 30px;
    }

    i{
        font-size: 60px;
    }

    .contactLinkTile{
        padding: 10px;
    }

    .projectList{
        min-width: 350px;
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width: 912px){
    nav,
    .hero,
    #about,
    #tools,
    #contact{
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero{
        padding: 100px 30px;
    }

    #btn{
        display: block;
    }

    .navLinkArea{
        display: none;
        width: 100%;
        position: absolute;
        top: 120px;
        right: 0;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, 80px);
        justify-items: start;
        letter-spacing: 5px;
        padding-left: 30px;
        background-image:  linear-gradient(100deg, #1f2235 0%, #21243b 100%);
    }
    
    .show{
        display: grid;
    }

    .aboutLinks .resumeLink,
    .contactLink{
        padding: 10px 30px;
    }

    #about,
    #tools,
    #contact,
    #projects{
        grid-template-columns: 0.5fr 1fr;
        grid-gap: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #tools .description{
        grid-gap: 0;
        grid-row-gap: 30px;
    }

    i{
        font-size: 45px;
    }

    .contactLinkTile{
        padding: 5px 10px;
    }

    .projectList{
        margin: 0 15px 0 0;
    }

    .projectInfo{
        padding: 25px 30px;
    }
}

@media screen and (max-width: 680px){
    nav{
        padding: 20px 0 20px 15px;
    }

    .logoArea img{
        width: 50px;
    }

    .navLinkArea{
        top: 80px;
        grid-template-rows: repeat(6, 60px);
        padding-left: 15px;
    }

    nav,
    .hero,
    #about,
    #tools,
    #contact,
    #projects{
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero{
        padding: 50px 30px;
    }

    .underline{
        display: none;
    }

    #about,
    #tools,
    #contact,
    #projects{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    h1{
        font-size: 2.5rem;
    }
    
    h2{
        font-size: 1.2rem;
    }
    
    h3{
        font-size: 1.5rem;
    }
    
    small{
        font-size: 1rem;
    }

    #about,
    #tools,
    #contact,
    #projects{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-gap: 30px;
    }

    .title small{
        font-size: 0.8rem;
    }

    .aboutLinks{
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-gap: 20px;
    }

    .aboutLinks .resumeLink,
    .contactLink{
        text-align: center;
        padding: 10px 0;
        margin-left: 0;
    }

    #tools .description{
        grid-gap: 20px;
    }

    #contact .description{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
    }

    .contactLinkName h3{
        font-size: 1.1rem;
    }
    
    .contactLinkName small{
        font-size: 0.8rem;
    }

    .projectList{
        min-width: 350px;
    }

    #projects i{
        font-size: 20px;
        padding: 10px 15px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 378px){
    .logoArea img{
        width: 40px;
    }

    .projectList{
        min-width: 100%;
    }

    .projectInfo{
        padding: 15px;
    }

    #projects i{
        padding: 5px 15px;
    }
}