@media screen and (max-width: 1024px){
    nav{
        padding: 30px 50px;
    }
}

@media screen and (max-width: 768px){
    #btn{
        display: block;
    }

    .navLinkArea{
        display: none;
        width: 100%;
        position: absolute;
        top: 120px;
        right: 0;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, 80px);
        justify-items: start;
        letter-spacing: 5px;
        padding-left: 50px;
    }
    
    .show{
        display: grid;
    }
}

@media screen and (max-width: 540px){
    nav{
        padding: 20px 0 20px 15px;
    }

    .logoArea img{
        width: 50px;
    }

    .navLinkArea{
        top: 80px;
        grid-template-rows: repeat(6, 60px);
        padding-left: 15px;
    }
}