*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

body{
    font-family: 'Playfair Display', serif;
    background-image:  linear-gradient(90deg, #313552 0%, #313552 100%) ;
    /* background: #ffc576; */
}