*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image:  linear-gradient(100deg, #1f2235 0%, #21243b 100%);
}

.hero{
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 100px;
    transition: ease-in-out 1s;
}

h1{
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
}

h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #ffc576;
}

h3{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}

small{
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffc576;
}

#about{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 50px;
    padding: 80px 100px;
    background-image:  linear-gradient(90deg, #313552 0%, #313552 100%);
}

.title{
    display: grid;
    place-content: center;
    justify-content: start;
}

.title small{
    font-size: 1rem;
}

.underline{
    width: 80px;
    height: 5px;
    background-color: #ffc576;
}

.aboutLinks{
    margin-top: 30px;
}

.aboutLinks .resumeLink{
    padding: 10px 50px;
}

.contactLink{
    color: #ffc576;
    border: 1px solid #ffc576;
    padding: 10px 50px;
    transition: ease-in-out 0.2s;
    margin-left: 20px;
}

#tools{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 50px;
    padding: 80px 100px;
    background-image:  linear-gradient(100deg, #1f2235 0%, #21243b 100%);
}

#tools .description{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 50px;
    place-items: center;
}

i{
    font-size: 75px;
    color: #ffc576;
    background-color: #1f2235;
}

#contact{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 50px;
    padding: 80px 100px;
    background-image:  linear-gradient(90deg, #313552 0%, #313552 100%);
    background-image:  linear-gradient(100deg, #1f2235 0%, #21243b 100%);
}

#contact .description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}

.contactLinkTile{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    color: #ffc576;
    border: 1px solid #ffc576;
    padding: 10px 20px;
    transition: ease-in-out 0.2s;
}

.contactLinkLogo{
    width: fit-content;
    margin-left: 10px;
}

.contactLinkTile a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactLinkName h3{
    font-size: 1.4rem;
}

.contactLinkName small{
    font-size: 1rem;
}